.dropdown__options {
  display: flex;
  position: absolute;
  right: -3.5%;
  bottom: 100%;
  flex-direction: column;
  justify-content: center;
  width: 6rem;
  margin: 0 auto;
  list-style: none;
}

.dropdown__options-item-shirt-color--pink {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border: 2px solid $brand-primary;
  background: $brand-white;
  color: $pink;
}

.dropdown__options-item-shirt-color--blue {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border: 2px solid $brand-primary;
  background: $brand-white;
  color: $blue;
}

.dropdown__options-item-shirt-color--yellow {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border: 2px solid $brand-primary;
  background: $brand-white;
  color: $yellow;
}

.dropdown__options-item-shirt-color--green {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border: 2px solid $brand-primary;
  background: $brand-white;
  color: $green;
}

.dropdown__options-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 2px solid $brand-primary;
  background: $brand-white;
  color: $brand-primary;
}
