.dropdown__options {
  display: none;
  flex-direction: column-reverse;
  border: 1px solid $brand-primary;
  list-style: none;

  &:hover {
    display: absolute;
    background: $brand-primary;
    color: $brand-white;
  }
}

.dropdown__options-item-shirt-color--pink {
  color: $pink;
}

.dropdown__options-item-shirt-color--blue {
  color: $blue;
}
