.shop-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: $gutter;
  border: 2px solid $brand-primary;


}

.shop-btn__dropdown {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: $gutter;
  border: 2px solid $brand-primary;

  &:hover {
    background: $brand-primary;
    color: $brand-white;

  }

}
