.shop-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid $brand-primary;

}

.shop-btn__dropdown {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid $brand-primary;

  &:hover {
    position: relative;
    background: $brand-primary;
    color: $brand-white;

  }

}
