$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$gutter: 1rem;
$brand-primary: #3473b5;
$brand-white: #fff;
$pink: #e577aa;
$blue: #72bbe9;
$green: #7abe93;
$yellow: #e5b178;
$max-content-width: 60rem;
